.contact-page-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    font-family: var( --font-secondary);
}
.top-contact-container{
    display: flex;
   margin-top: 5rem;
    gap: 10rem;
   
}
@media screen and (max-width:68em) {
    .top-contact-container{
        width: 100%;
        display: flex;
       flex-direction: column;
       justify-content: center;
        gap: 3rem;
       
    } 
    
}

.form-container-element{
    width: 50%;
}
@media screen and (max-width:68em) {
    .form-container-element{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}
@media screen and (max-width:25em) {
    .form-container-element{
        align-items: left;
    }
}


.form-name-elements{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}
@media screen  and (max-width:26.25em){
    .form-name-elements{
       flex-direction: column; 
    } 
}
.form-block-elements{
    display: flex;
    flex-direction: column;
    font-weight: 500;
   
}

.label-container{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

input{
    font-family: inherit;
    color: var(--color-dark-black);
   background-color: var( --color-light-gray);
   border-radius: 1rem;
   padding: 1rem;
   border: none;
   outline: none;
   font-size: 1rem;
   width: 100%;
}
@media screen and (max-width: 68em) {
    input{
        width: 100%!important
    }
}

.email-element ,.message-element{
    display: flex;
    flex-direction: column;
    width: 80%;
}




.submit-btn{
    padding: 1rem;
    border-radius: 1.1rem;
    margin-block: 2rem;
    width: 70%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: var( --color-shade-blue);
}
.submit-btn:hover{
    background-color:var( --bold-blue);
    color: var(--pure-white);
}
@media screen and (max-width:50em) {
    .submit-btn{
        width: 60%;
    }
}
@media screen and (max-width:25em) {
    .submit-btn{
        width: 90%;
    }
}



@media screen and (max-width:50em) {
    .bottom-contact-elements{
        gap: 2rem;
    }  
}

.bottom-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.form-subtitle{
    margin-top: 1rem;
}
@media screen and (max-width:25em) {
    .form-subtitle{
        font-size: 1rem;
    }
}
.contact-icon svg, .social-media svg{
    background-color: var(--color-light-beige);
    color: var(--color-dark-beige);
    font-size: 4rem;
    padding: 1rem;
    border-radius: 50%;
}
.formElement{
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    font-size: 1rem;
}

@media screen and (max-width:68em) {
    .formElement{
       width: 80%;
    }    
    }

.social-media{
    display: flex;
  align-items: center;
  justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 0.2rem;
  
}

.social-media svg{
    border-radius: 50%;
    border: 1px solid var(--soft-blue);
    text-decoration: none;
    color: var(--color-dark-black);
}
.social-media svg :hover{
    color: var(--bold-blue);
   
}
.img-contact-wrapper{
    width: 55rem; 
 height:auto ;
 border: none;
 border-radius: 1rem;
}
.img-contact-wrapper img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 1rem;

}
.form-title{
    margin-bottom: 1rem;
    text-align: center;
}
.track-element {
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .track-element label {
    font-size: 1rem;
    font-weight: 600;
    color: #4A4A4A;
    width: 100%;
   
}
@media screen and (max-width:68rem) {
    .track-element label {
       text-align: center;
    }
}


select {
    padding: 10px 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: var(--color-dark-black);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: border 0.3s ease;
}
@media screen and (max-width:68rem) {
    select{
        width: 100%;
    }
}

select:focus {
    border-color: var(--soft-blue);
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
