.hero-image-wrapper{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.hero-image-wrapper img{
  position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;

    opacity: 0;
    transition: opacity 3s ease-in-out, visibility 3s ease-in-out;
}
.hero-image-wrapper img.active {
  visibility: visible;
  z-index: 0;
  opacity: 1;
  transform: translateX(0); 
}

.hero-text-content{
  z-index: 2;
    position: absolute;
    top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--pure-white);
    font-size: 2rem;
    font-family: var(--font-secondary);
    width: 100%;
    text-align: center;
}
@media screen and (max-width:62em) {
    .hero-text-content{
        top: 50%;
    }
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.6);
z-index: 1;
  }
  .buttons{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
    
  }


  .btn1{
font-family: inherit;
font-weight: 700;
border: none;

outline: none;
border-radius: 0.6rem;
    padding: 2rem;
    width: 15rem;
    background-color: var(--color-shade-blue);
    color: var(--pure-white);
  }
  .btn1:hover{
    background-color:var(--soft-blue);
    color: var(  --color-dark-black);
  }
  .btn2{
    font-family: inherit;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 0.6rem;
    padding: 2rem;
    width: 15rem;
    background-color: var(--pure-white);
    border: 1px solid var(--color-shade-blue);
  }